<!-- heading -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm heading">
  <h2 class="text-muted my-0 mr-md-auto font-weight-normal">Sight++&nbsp;</h2>
  <img src="/images/intel.png" width="50" height="50" alt="intel logo"/>
</div>
<!-- heading -->