<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>New Server Profiles</title>
</head>
<body class="bg-light">
  <!-- heading -->
  <%- include('_heading') %>
  <!-- heading -->
  <% if(profile.hasOwnProperty('message')){ %>
    <div class="alert alert-danger text-center" role="alert">
      <strong> <%= profile.message %></strong>
    </div>
  <% } %>
  <div class="container mt-4">
    <h4 class="mb-4">New Profile</h4>
    <form action="/profile" method="POST">
      <%- include('_form') %>
    </form>
  </div>
  <!-- Footer -->
  <%- include('_footer') %>
  <!-- Footer -->    
</body>
</html>